<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AppwriteEndpoint" value="https://sgp.cloud.appwrite.io/v1" />
        <add key="AppwriteProjectId" value="698212e50017eada99c8" />
        <add key="AppwriteDatabaseId" value="69821743002139037da1" />
        <add key="AppwriteSubscriptionCollectionId" value="69b24465002d43df9b00" />
        <add key="AppwriteApiKey" value="standard_eaf36e517e4588326b3b6da14079c26ddb1a7953ddf71aa89930ac1994c0d0f5a784cbc77bb9a88c55d354138993faeec4af356e7fb9a0565968fb09a3a9dde604b0372e9e0a7aeaceb78e6bf0a22f6f3ccbcbb30e019f449c1524f191e259983d2a9fdaf337a438cad779a15e92a65755c3d1defeaf3692ce0b9513c6e07a41" />
        <add key="OilMarkerUrl" value="https://www.gulfmerc.com/" />
        <add key="OilFetchHour" value="13" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
