<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AppwriteEndpoint" value="https://sgp.cloud.appwrite.io/v1" />
        <add key="AppwriteProjectId" value="698212e50017eada99c8" />
        <add key="AppwriteDatabaseId" value="69821743002139037da1" />
        <add key="AppwriteSubscriptionCollectionId" value="6982182b002e6a6680b4" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
