<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AppwriteEndpoint" value="https://cloud.appwrite.io/v1" />
        <add key="AppwriteProjectId" value="680c76af0037a7d23e44" />
        <add key="AppwriteDatabaseId" value="680c778b000f055f6409" />
        <add key="AppwriteSubscriptionCollectionId" value="687250d70020221fb26c" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
